@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./assets/images/bg-intro-mobile.png);
  @apply bg-cpink text-white;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/images/bg-intro-desktop.png);
  }
}

.border-alert {
  @apply border-red-400;
}
